@import normalize
@import fonts
@import typography


body
	font-family: 'Roboto', sans-serif
	width: 414px
	margin: 0 auto
	background: linear-gradient(172.67deg, #1ED760 -55.58%, #29AB57 -27.7%, #212121 38.9%)
.content
	padding: 40px 24px 0
	position: relative
	z-index: 1
.logo
	color: #fff
	font-weight: 900
	font-size: 24px
	line-height: 29px
.df
	display: flex
	align-items: center
	&--space-between
		justify-content: space-between
.setting-btn
	width: 24px
	height: 24px
	background-size: contain
	background-repeat: no-repeat
	background-image: url(../../assets/img/icons/settings.svg)
#app
	background: linear-gradient(172.67deg, #29AB57 -27.7%, #212121 38.9%)
	height: 100vh
	position: relative
	overflow: hidden
	box-shadow: 0 10px 10px rgba(#000,0.24)
	&:before
		content: ''
		width: 410px
		height: 410px
		border-radius: 410px
		background-color: rgba(#11D457, 0.6)
		display: block
		position: absolute
		top: -250px
		left: -158px
		z-index: 0

.cards
	margin-top: 28px
	position: relative
	&__item
		width: 366px
		height: 460px
		border-radius: 16px
		background: linear-gradient(107.53deg, #636363 19.21%, #414141 100%)
		transform: scale(0.9)
		z-index: auto
		position: absolute
		top: 38px
		overflow: hidden
		transition: all .3s ease
		&.active
			position: relative
			transform: scale(1)
			z-index: 1
			top: 0
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
		&.reset
			transition: transform 0.3s
			transform: translateX(0) !important
			.cards__item-choice
				transition: opacity 0.3s
				opacity: 0 !important
		&.inactive
			transition: transform 0.3s
		&.to-left
			transform: translateX(-30rem) rotate(-30deg) !important
		&.to-right
			transform: translate(30rem) rotate(30deg) !important
		&.below
			z-index: 1
			display: none
		&-choice
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			right: 0
			bottom: 0
			opacity: 0
			&:after
				position: absolute
				content: ''
				left: 0
				top: 0
				right: 0
				bottom: 0
			&.--reject
				&:after
					background: linear-gradient(148.1deg, #CD5959 15.7%, #7C1B1B 85.53%)
					opacity: 0.85
			&.--like
				&:after
					background: linear-gradient(142.04deg, #469663 16.46%, #11612D 84.99%)
					opacity: 0.85
		&-image
			width: 366px
			height: 366px
			background-size: cover
		&-info
			padding: 17px 24px
			color: #fff
		&-name
			font-weight: 900
			font-size: 24px
			line-height: 29px
		&-author
			font-size: 14px
			margin-top: 8px
